:root {
    --primery-text-color: #757575;
    --title-text-color:#212121;
    --accent-color: #2196F3;
    --primery-white-color: #ffffff;

}



body {
    background-color: var(--primery-white-color);
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.header a {
    text-decoration: none;
}


.header li {
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}


.logo > span {
    color: var(--title-text-color);
}


.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}


.auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.auth-nav a:hover, .auth-nav a:focus {
    color: var(--accent-color)
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--primery-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.hero .button {
    font-family: inherit;
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}


  
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.advantages li {
    list-style: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantages-descr {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primery-text-color);
}


.activity {
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
}

.activity li {
    list-style: none;
}

.team {
    background-color: #F5F4FA;
}

.team li {
    list-style: none;
}

.team-name {
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.tech-skill {
    font-size: 16px;
    line-height: 1.19;
    color: var(--primery-text-color);
}


.footer {
    background-color: #2F303A;
}


.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primery-white-color);

}

.email, .phone {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}



.footer a, .footer a {
    text-decoration: none;
}

.footer a:hover, .footer a:focus {
    color: var(--accent-color)
}



.portfolio {
   background: #E5E5E5;
}


.portfolio li {
    list-style: none;
}

.examples-projects .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    cursor: pointer;
}




.examples-projects .button:hover, .examples-projects .button:focus {
    color: var(--primery-white-color);
    background: var(--accent-color);

}


.our-projects h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
 }

 .our-projects  .projects-type {
    font-size: 16px;
    line-height: 1.88;
 }